*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    background: transparent;
}
body{
background-image: url(60891a52-3b52-4ce9-a0fa-ee7d060a6904-xyz.svg);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
