*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    background: transparent;
}
body{
background-color: #000000;

}

.orb {
  position: fixed; 
  border-radius: 50%;
  filter: blur(90px);
  pointer-events: none;
  z-index: 0;
}

.orb-1 {
  width: 400px;
  height: 300px;
  background: rgba(80, 60, 180, 0.393); /* purple */
  top: -100px;
  left: -80px;
}

.orb-2 {
  width: 600px;
  height: 600px;
  background: rgba(20, 120, 100, 0.302); /* teal */
  bottom: -80px;
  right: -60px;
}



