
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asset&family=Press+Start+2P&display=swap');

.AboutMe {
 
  display: flex;
  width: 100%;
  min-height:500px; 
  max-height: 78vh;
  margin: 25px auto;
  align-items: stretch; 
  border-radius: 2.5rem;
  overflow: hidden;
}

.caraousel{
margin: 10px auto;
width:90%;
display: flex;
overflow-x: auto;

}
.caraousel::-webkit-scrollbar{
  display:none;
}

.caraousel:hover .group {
  animation-play-state: paused;
}

.group{
  display: flex;
  animation: slide 35s linear infinite;
  gap:20px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); 
  }
}

.AboutImg {
  position: relative;
  flex: 1; 
  line-height: 0;
}


.AboutImg img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.AboutText {
    color: white;
    font-family: "Oswald",sans-serif;
    flex: 1;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-left: none;
    background: rgba(141, 143, 140, 0.09);
    backdrop-filter: blur( 2px );
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.AboutHeading {
  font-family: "Alfa Slab One";
  font-weight: bolder;
  font-size: 48px;
  margin-top: 0;
}

.AboutPara {
  margin-bottom: 0;
  padding-top: 45px;
  font-size: 28px;
}

.Skills{ 

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
   margin-top: 80px;
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}
.Skills h1{
  font-family: "Press Start 2P",'Times New Roman', Times, serif;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background: rgba(141, 143, 140, 0.09);
  backdrop-filter: blur( 2px );
  font-size:28px;
  color: #fffefc;
  border-radius: 20px;
  padding:15px 20px
}
.Skills svg{
  width: 50px;
  height: 50px;
}

