
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Asset&display=swap');

.Container{
  display: flex;
  gap: 20px;
justify-content: center;
 padding-top: 40px;
 gap :30px;

}

.card{ 
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba(159, 161, 159, 0.893);
    backdrop-filter: blur( 2px );
    flex :0 0 400px;
    color: black;
    border-radius: 20px;
    width: 400px;
    min-height: 500px;
    padding:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.top{
    font-family: "Alfa Slab One",sans-serif;
    display: flex;
   gap:20px;
    padding-top:10px;
    align-items: center;
}

.top img{
  
    
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.top h3{
    color: black;
    font-size: x-large;
}

.cardText{
    font-size: x-large;
    padding-top: 35px;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

